[*.cs]
csharp_preferred_modifier_order = public, private, protected, internal, file, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async
dotnet_diagnostic.IDE0036.severity = error

file_header_template = // header
dotnet_diagnostic.IDE0073.severity = error

dotnet_style_namespace_match_folder = true
dotnet_diagnostic.IDE0130.severity = error
